name: Doc

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-09-01

      - name: Build documentation
        run: cargo doc --workspace --no-deps --locked
