name: Rust Benchmarks and Profiles

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  bench:
    name: Bench
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-09-01

      - name: Bench
        run: cargo bench --locked

      - name: Archive Bench Statistics
        uses: actions/upload-artifact@v4
        with:
          name: criterion-bench
          path: target/criterion

  profile:
    name: Profile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-09-01

      - name: Profile Hobbs
        run: cargo bench --bench hobbs -- --profile-time 60

      - name: Profile Irene
        run: cargo bench --bench improbable_irene -- --profile-time 60

      - name: Archive Profile Statistics
        uses: actions/upload-artifact@v4
        with:
          name: criterion-profile
          path: target/criterion
