name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  fmt:
    uses: ./.github/workflows/_fmt.yml

  clippy:
    uses: ./.github/workflows/_clippy.yml

  test:
    uses: ./.github/workflows/_test.yml

  doc:
    uses: ./.github/workflows/_doc.yml

  ready:
    if: always()
    needs: [fmt, clippy, test, doc]
    runs-on: ubuntu-latest
    steps:
      - name: Check results
        run: |
          results="${{ join(needs.*.result, ' ') }}"
          for result in $results; do
            if [[ "$result" != "success" ]]; then
              echo "Job result: $result (expected success)"
              exit 1
            fi
          done
