name: Deploy Terrarium
concurrency: deploy

run-name: Deploy Terrarium @ ${{ github.event.workflow_run.head_sha }}

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]
    branches: "main"

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
      - name: Fail Deploy if Tests Failed
        run: exit 1
        if: ${{ github.event.workflow_run.conclusion == 'failure' }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Install protobuf-compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-06-01

      - name: Build
        run: cargo build --release --all-targets

      - name: Upload Releases
        uses: actions/upload-artifact@v4
        with:
          name: releases
          path: |
            target/release/web-axum
            target/release/web-rocket
            target/release/web-lambda
            target/release/sherlock
